@media only screen and (max-width: 46.1875em) {
  /* header css  */

  .hide-on-mobile {
    display: none;
  }

  .dots {
    display: none;
  }

  .header-navbar-mobile {
    display: none;
  }

  .header-navbar-mobile.mobile-open {
    display: block;
  }

  .header-bar-btn {
    display: block;
    color: var(--primary-color);
  }

  .header-bar-btn:hover {
    color: var(--second-color);
    transition-duration: 0.25s;
  }

  .header-navbar-mobile {
    position: absolute;
    inset: unset;
    background-color: var(--violet-background-color);
    z-index: 3;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    padding: 20px;
  }

  .navbar-mobile-icon {
    font-size: 20px;
    color: var(--primary-color);
  }

  .navbar-mobile-search {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .navbar-mobile-search-btn {
    padding: 10px 20px;
    background-color: var(--primary-color);
    border-radius: 4px 0 0 4px;
    color: var(--white-color);
  }

  .navbar-mobile-search-input {
    padding: 10px 20px;
    border-radius: 0 4px 4px 0;
    width: 100%;
    margin-right: 40px;
  }

  .header {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 3;
  }

  .header-bar-btn {
    font-size: 20px;
    z-index: 4;
  }

  .navbar-menu {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .navbar-item-link {
    display: flex;
    gap: 20px;
  }

  .navbar-item-text {
    font-size: 18px;
  }

  /* Hero section responsive css  */

  .hero-section {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    width: 100%;
    padding: 40px 20px;
  }

  .hero-left {
    gap: 16px;
  }

  .hero-title {
    font-size: 24px;
    padding: 0;
  }

  .hero-content {
    font-size: 18px;
  }

  .hero-search {
    margin-right: 0;
  }

  .hero-right {
    margin-left: 30px;
    padding: 0;
  }

  .hero-content {
    height: 420px;
    width: 320px;
    position: absolute;
    left: -30px;
    top: -30px;
  }

  .hero-play-btn {
    width: 60px;
    height: 60px;
  }

  .hero-play-icon {
    font-size: 20px;
  }

  .hero-border {
    height: 420px;
    width: 320px;
  }

  /* category section responsive css  */

  .category-section {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .header-section {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    height: 100%;
  }

  .section-title {
    font-size: 20px;
  }

  .category-card-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .category-card-item {
    padding: 20px 10px;
    gap: 10px;
  }

  /* course section responsive css  */

  .course-section {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .course-card-item {
    width: calc(100% - 10px);
  }

  .course-card-img {
    height: 290px;
  }

  .course-card-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  /* Coaching section responsive css  */

  .coaching-section {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  /* Introduction section responsive css  */

  .introduction-section {
    padding: 40px 20px;
    flex-direction: column-reverse;
  }

  .introduction-left {
    gap: 20px;
  }

  .introduction-feature-list,
  .introduction-feature-item {
    gap: 10px;
  }

  .introduction-action {
    display: flex;
    justify-content: center;
  }

  .introduction-rigth {
    margin-left: 30px;
    padding: 0;
  }

  .introduction-content {
    height: 420px;
    width: 320px;
    position: absolute;
    left: -30px;
    bottom: -30px;
  }

  .introduction-border {
    height: 420px;
    width: 320px;
  }

  /* feedback section responsive css  */

  .feedback-section {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .feedback-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  /* Partner section responsive css  */

  .partner-section {
    padding: 40px 20px;
  }

  .header-section {
    align-items: center;
    text-align: center;
  }

  .partner-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 0;
  }

  /* Program section responsive css  */

  .program-section {
    padding: 40px 20px;
  }

  .program-container {
    flex-direction: column;
    gap: 10px;
  }

  .program-card {
    padding: 20px 10px;
    gap: 16px;
  }

  .program-card-content {
    gap: 16px;
  }

  /* Footer responsive css */

  .footer {
    padding: 0 20px;
  }

  .footer-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .footer-copyright {
    flex-direction: column;
    gap: 10px;
  }
}

/* Tablet: width >= 768px and width < 1024px */

@media only screen and ((min-width: 46.25em) and (max-width: 85.375em)) {
  /* header css  */

  .dots {
    display: none;
  }

  .coaching-avatar-img {
    display: none;
  }

  .header {
    padding: 0 20px;
  }

  .navbar-menu {
    gap: 10px;
  }

  .hero-section {
    display: flex;
    gap: 20px;
    width: 100%;
    padding: 40px 20px;
  }

  .hero-right {
    margin-left: 30px;
    padding: 0;
  }

  .hero-content {
    height: 420px;
    width: 320px;
    position: absolute;
    left: -30px;
    top: -30px;
  }

  .hero-play-btn {
    width: 60px;
    height: 60px;
  }

  .hero-play-icon {
    font-size: 20px;
  }

  .hero-border {
    height: 420px;
    width: 320px;
  }

  /* category section responsive css  */

  .category-section {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .section-title {
    font-size: 24px;
  }

  .category-card-list {
    gap: 10px;
  }

  /* course section responsive css  */

  .course-section {
    padding: 40px 20px;
    gap: 20px;
  }

  .course-container {
    overflow: hidden;
    position: relative;
    z-index: 1;
  }

  .course-list-card {
    display: flex;
    gap: 20px;
    transition: all 0.25s;
  }

  .course-card-item {
    width: calc(33% - 10px);
    flex-shrink: 0;
    background-color: var(--white-color);
    border-radius: 4px;
    cursor: pointer;
    z-index: 1;
  }

  .course-card-header {
    padding: 8px;
  }

  .course-card-img {
    height: 200px;
  }

  .course-card-content {
    gap: 10px;
    padding: 8x;
  }

  .course-card-title {
    font-size: 18px;
  }

  .course-footer-progress.start {
    left: 60px;
    width: 176px;
  }

  .course-footer-progress.center {
    left: 50%;
    transform: translateX(-50%);
    width: 230px;
  }

  .course-footer-progress.end {
    width: 176px;
    right: 60px;
  }

  /* Coaching section responsive css  */

  .coaching-section {
    padding: 40px 20px;
    gap: 20px;
  }

  /* Introduction section responsive css  */

  .introduction-section {
    padding: 40px 20px 70px 20px;
  }

  .introduction-rigth {
    margin-left: 30px;
  }

  .introduction-content {
    height: 420px;
    width: 320px;
  }

  .introduction-border {
    height: 420px;
    width: 320px;
  }

  /* feedback section responsive css  */

  .feedback-section {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  /* Partner section responsive css  */

  .partner-section {
    padding: 40px 20px;
  }

  /* Program section responsive css  */

  .program-section {
    padding: 40px 20px;
  }

  .program-card {
    padding: 20px 10px;
    gap: 16px;
  }

  .program-card-content {
    gap: 16px;
  }

  /* Footer responsive css */

  .footer {
    padding: 0 20px;
  }

  .footer-container {
    gap: 42px;
  }
}
